.home-customer-page {
  background-color: #f0d1ad;
  background-image: url('/img/1.png')
  background-repeat: no-repeat;
  background-size: 550px auto;
  background-position: center 0;
  padding-top: 500px;
}
.home-customer-page .features {
  margin-top: 150px!important;
}
.home-customer-page #main-title {
  font: italic 2em Georgia, serif;
  color: #4e6e8e;
}